/* ==========================================================================
  SETTINGS
  Used with preprocessors and contain font, colors definitions, etc.
========================================================================== */

/* Colours */
$black: #000;
$white: #fff;
$white-transparent: rgba($white, 0);


/* Defaults */
$default-font-size: 16;
$default-transition: 1.2s;
